<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>- 
                <h3>años</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore deleniti amet cum consequuntur quaerat molestias sint esse, maxime placeat quos enim? Id iste, consequatur cumque expedita sequi numquam excepturi amet!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1>- 
                <h3>años</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore deleniti amet cum consequuntur quaerat molestias sint esse, maxime placeat quos enim? Id iste, consequatur cumque expedita sequi numquam excepturi amet!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1>- 
                <h3>años</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore deleniti amet cum consequuntur quaerat molestias sint esse, maxime placeat quos enim? Id iste, consequatur cumque expedita sequi numquam excepturi amet!</p>
        </ul>
    </div>

</div>
